<div>
  <h3>Add a Player</h3>
  <div class="form-group">
    <label>Name:</label>
    <br>
    <input #newName class="form-control">
  </div>

  <div class="form-group">
    <label>Position</label>
    <br>
    <input #newName class="form-control">
  </div>

  <div class="form-group">
    <label>Number</label>
    <br>
    <input #newName class="form-control" type="number">
  </div>

  <div class="form-group">
    <label>Height (inches)</label>
    <br>
    <input #newName class="form-control" type="number">
  </div>

  <div class="form-group">
    <label>Years Pro</label>
    <br>
    <input #newName class="form-control" type="number">
  </div>

  <div class="form-group">
    <label>Image URL</label>
    <br>
    <input #newName class="form-control">
  </div>

  <button class="btn btn-success" (click)="newPlayer(newName.value, newPosition.value, newNumber.value, newHeight.value, newExperience.value, newImage.value); newName.value=''; newPosition.value=''; newNumber.value=''; newHeight.value=''; newExperience.value=''; newImage.value=''">Create Player</button>
</div>
